@font-face {
    font-family: 'lindenhill';
    src: url('LindenHill-webfont.eot');
    src: url('LindenHill-webfont.eot?#iefix') format('embedded-opentype'),
         url('LindenHill-webfont.woff') format('woff'),
         url('LindenHill-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
