{ margin: 5%;}
body {
  background-color: #333;
  color: #ccc;
  font-size: 1.7em;
  text-align: center;
}
a: { background-color: transparent; }
a:link {
  color: #bb7;
  text-decoration: none;
}
a:visited {
  color: #aa4;
  text-decoration: none;
}
a:active {
  color: #fff;
  text-decoration: underline;
}
a:hover { text-decoration: underline; }
header, header ul, header ul li, #content, footer { display: inline-block; }
header { width: 85%; }
header h1 {
  font-size: 125%;
  margin: 0 0 5px;
}
header ul {
  border-top: 1px solid #999;
  font-weight: bold;
  font-size: 80%;
  margin: 0;
  padding: 0;
}
header ul li {
  font-family: "Andale Mono", "courier new", monospace;
  font-size: .8em;
  list-style-type: none;
  padding: 0 5px;
}
#content { text-align: left; width: 90%; }
#content p { margin-top: 0.5em; }
#content h2 {
  font-size: 100%;
  text-decoration: underline;
  font-weight: normal;
}
footer {
  border-top: 1px solid #999;
  font-size: 50%;
  width: 75%;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  body {
    font-size: 14pt;
  }
  header, #content { width: 95%; }
  #content { text-align: justify; }
}
